* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}
/*Through line 49, this is for the formatting at the top of the page listing the SEO, online-reputation, and social media marketing; making it inline and justified to the right.*/
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

h1 {
  display: inline-block;
  font-size: 48px;
  background-color: #2a607c;
  color: #ffffff;
}

#nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

li {
  display: inline-block;
  margin-left: 25px;
  list-style-type: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}
title {
  background-color: #2a607c;
}

section h3 {
  height: 150px;
  width: 150px;
  padding: 10px;
  margin: 10px;
}
.aboutMe {
  border: 10px solid black;
}

section .work {
  height: 150px;
  width: 150px;
  padding: 10px;
  margin: 10px;
}

.work {
  height: 150px;
  width: 150px;
  padding: 10px;
  margin: 10px;
}
