* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}
/*Through line 49, this is for the formatting at the top of the page listing the SEO, online-reputation, and social media marketing; making it inline and justified to the right.*/
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

#workImage {
  background-image: url("./canva-photo-editor-8-7.png");
  height: 300px;
  color: white;
  position: absolute;
}

.h2 {
  background-color: #2a607c;
  text-decoration: #ffffff;
}

h1 {
  display: inline-block;
  font-size: 48px;
  background-color: #2a607c;
  color: #ffffff;
}

#nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

li {
  display: inline-block;
  margin-left: 25px;
  list-style-type: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}
title {
  background-color: #2a607c;
}

section h3 {
  height: 150px;
  width: 100%;
  padding: 10px;
  margin: 10px;
}
section .work {
  border: 10px solid white;
  height: 150px;
  width: 100%;
  padding: 10px;
  margin: 10px;
  color: white;
}
section .contactInformation {
  height: 150px;
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 10px solid black;
}
section .contactBox {
  height: 150px;
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 10px solid black;
}

section .aside {
  border: 10px solid black;
  height: 150px;
  width: 90%;
  padding: 10px;
  margin: 10px;
}
main {
  display: flex;
  flex-direction: column;
}
main section {
  width: 100%;
  display: flex;
  flex-direction: row;
}
main section h3 {
  width: 25%;
}
main section div {
  width: 75%;
}
.textBox {
  /* background-color: wheat; */
  background-image: url("./abstract-futuristic-cyberspace-binary-code-600w-740523562\ \(1\).webp");
  margin: 10px;
  /* opacity: 30%; */
  color: white;
  height: 10rem;
}
.workBox {
  background-image: url("./back-rear-spine-view-photo-600w-1702515220.webp";
  margin: 10px;
  color: white;
  height: 10rem;
}
